.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E3E3E3;
}

.logo {
    width: 3em;
    height: 3em;
}

.full-logo {
    display: flex;
    margin-top: 10px;
    margin-left: 1em;
}

.logo-txt {
    margin-top: 0.3em;
    font-size: 1.7em;
}

.red {
    color: #F87575;
}

.purple {
    color: #4F45C2;
}

.nav-links {
    list-style: none;
    margin-right: 2vw;
    margin-top: 1.7em;
}

.topGap {
    height: 40px;
}

.welcomeBox {
    position: relative;
    left: 27%;
    border-radius: 10px;
    background: #6C83FA;
    width: 46%;
    height: 122px;
    border: solid;
    border-width: thin;
    border-color: #6C83FA;
}

.welcomeMessage {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-left: 32px;
}

.welcomeSubText {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-left: 32px;
    color: #FFFFFF;
}