.card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1px;
        margin-left: 1em;
        margin-top: 1em;
        height: 25vh;
        width: 72vw;
        border-radius: 10px;
        border-style: solid;
        border-color: #6C83FA;
        border-width: thin;
        display: inline-block;
}

.purpleLine {
    position: absolute;
    display: inline-block;
    background-color: #6C83FA;
    width: 0px;
    height: 85%;
    right: 5%;
    left: 2%;
    top: 7.5%;
    border-radius: 5px;
    border: solid #6C83FA;
}

.textDiv {
    position: absolute;
    margin-left: 7%;
    top: 7.5%;
    display: inline-block;
    background-color: lightcoral;
    width: 50%;
}